<!DOCTYPE html>
<html lang="en">

<head> <!-- Info that applies to entire website -->
    <title>n-Qubit States Classifier</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quantum physics research calculator for 3-qubit SLOCC classification or n-qubit entanglement detection.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alan Zheng">
    <meta name="keywords" content="Quantum Physics, Physics, Quantum, Qubit, Calculator, Classifier, SLOCC, Equivalence Class, 3-qubit, n-qubit, Entanglement, Entangled, Separable, State, Website, States">
    <meta name="google-site-verification" content="XHzh58_k9KlSxJ6DwjB2MCbjrUbQnZnaq0s4LiLBiiI" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<div id="3qubitPage" class="content" style="display:block;"> <!-- HTML code for 3 qubit SLOCC classificiation page -->
    <h1>3-Qubit-State SLOCC & SD Calculator</h1>
    <h2>This classifier partitions pure states of three qubits into six SLOCC classes: GHZ, W, A-BC, B-AC, C-AB, and A-B-C.</h2>
    <h2>Also calculates the Schmidt decomposition (SD) of the three qubit state.</h2>
    <p>Enter the 8 complex numbers for your 3-qubit-state in the boxes below. <br>
        Operations: + - * / ^ sqrt sin cos tan, "i" = <span>&#8730;</span>-1, "pi" = 3.1415...<br><br>
        SD is of the following form: r<sub>0</sub>|000>+r<sub>1</sub>e<sup>ix</sup>|100> +r<sub>2</sub>|101>+r<sub>3</sub>|110>+r<sub>4</sub>|111><br>
        Program will output [r<sub>0</sub>, r<sub>1</sub>e<sup>ix</sup>, r<sub>2</sub>, r<sub>3</sub>, r<sub>4</sub>] <br>
        Feedback/Suggestions: azheng106@gmail.com <br><br>
        c<sub>0</sub> -> c<sub>7</sub> default to 0 if left blank
    </p>

    <form id="3qubitForm">
    <div class="input_group">
        <label for="c0">c<sub>0</sub> |000></label>
        <input type="text" id="c0" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c1">c<sub>1</sub> |001></label>
        <input type="text" id="c1" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c2">c<sub>2</sub> |010></label>
        <input type="text" id="c2" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c3">c<sub>3</sub> |011></label>
        <input type="text" id="c3" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c4">c<sub>4</sub> |100></label>
        <input type="text" id="c4" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c5">c<sub>5</sub> |101></label>
        <input type="text" id="c5" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c6">c<sub>6</sub> |110></label>
        <input type="text" id="c6" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c7">c<sub>7</sub> |111></label>
        <input type="text" id="c7" autocomplete = "off" placeholder="0">
    </div>
    <button type="submit">Calculate</button>
    <button type="reset">Reset</button>
</form>
    <div id="result"></div>
    <div id="sd1result"></div>
    <div id="sd2result"></div>
</div>

<script> <!-- Logic for returning the SLOCC class when user presses "submit" -->
    document.getElementById('3qubitForm').onsubmit = function(event) {
        event.preventDefault(); // Prevent the default form behavior (reloading the page)
        const data = {
            c0: document.getElementById('c0').value,
            c1: document.getElementById('c1').value,
            c2: document.getElementById('c2').value,
            c3: document.getElementById('c3').value,
            c4: document.getElementById('c4').value,
            c5: document.getElementById('c5').value,
            c6: document.getElementById('c6').value,
            c7: document.getElementById('c7').value,
        };
        fetch('/calculate/3qubit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) { // If response code != 200, throw response and go to .catch block below
                throw response;
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('result').textContent = data.classification;
            document.getElementById('sd1result').innerHTML = data.schmidt1;
            document.getElementById('sd2result').innerHTML = data.schmidt2;
        })
            .catch((error) => {
                error.json().then(errorMessage => {
                    document.getElementById('result1').textContent = 'Error: ' + errorMessage.error;
                });
            })
    };
</script>

<script> <!-- Remove the previous results when the user presses "reset" -->
    document.getElementById('3qubitForm').onreset = function() {
        document.getElementById('result').textContent = '';
        document.getElementById('sd1result').textContent = '';
        document.getElementById('sd2result').textContent = '';
    }
</script>

<div id="nQubitPage" class="content"> <!-- HTML code for n-qubit Entanglement page -->
    <h1>n-Qubit-State Entanglement Detector</h1>
    <h2>Using a sufficient and necessary condition, this classifier can detect both entangled and separable states.  </h2>
    <p> Operations: + - * / ^ sqrt sin cos tan, "i" = <span>&#8730;</span>-1, "pi" = 3.1415...<br>
        Trig functions use radians.<br>
        Feedback/Suggestions: azheng106@gmail.com <br> <br>
        Only input non-zero constants for your state, omitted constants default to 0 <br><br>
    </p>

    <form id="nQubitForm">
        <div id="nQubitsField">
            <label for="nQubits"> Enter number of qubits (>=2): </label>
            <input type="number" id="nQubits" class="n-input" autocomplete = "off" placeholder="n>=2" min="2" required>
        </div>
        <p><br>
            C<sub>0</sub> is the coefficient of |0...00>, C<sub>1</sub> for |0...01>, etc
        </p>
        <div id="inputPairsContainer">
            <div class="input-pair">
                <div class="input-labels">
                    <label for="cn">Constant number (C<sub>n</sub>)</label>
                    <label for="cnValue">Enter value for C<sub>n</sub> </label>
                </div>
                <div class="input-fields">
                    <input type="number" id="cn" class="number-input" autocomplete = "off" placeholder="n">
                    <input type="text" id="cnValue" class="value-input" autocomplete = "off" placeholder="0">
                </div>
            </div>
        </div>
        <button type="submit">Calculate</button>
        <button type="reset">Reset</button>
    </form>
    <div id="result1"></div>
</div>

<script> <!-- Add new line when the user fills in one line of constants. -->
    const container = document.getElementById('inputPairsContainer');

    container.addEventListener('input', function() { // Listen for user input
        const inputPairs = container.querySelectorAll('.input-pair');
        const lastInputPair = inputPairs[inputPairs.length - 1];
        const inputsInLastPair = lastInputPair.querySelectorAll('input');
        const allInputsFilled = Array.from(inputsInLastPair).every(input => input.value !== '');

        const numPairs = inputPairs.length;
        const numQubits = getQubitNumber();
        const maxQubits = 2 ** numQubits;

        if (allInputsFilled && lastInputPair === container.lastElementChild) {
            if (numPairs < maxQubits) {
                addNewInputPair();
                document.getElementById('result1').textContent = '';
            } else {
                document.getElementById('result1').textContent = 'Max row # reached, or qubit # box is invalid';
            }
        }
    });
    function addNewInputPair() {
        const newDiv = document.createElement('div');
        newDiv.classList.add('input-pair', 'removable-input-pair'); // Add removable class tag for identification when reset is clicked
        newDiv.innerHTML = `
            <div class="input-fields">
            <input type="number" id="cn" class="number-input" autocomplete = "off" placeholder="n">
            <input type="text" id="cnValue" class="value-input" autocomplete = "off" placeholder="0">
            </div>
        `;
        container.appendChild(newDiv);
    }
    function getQubitNumber() {
        const nQubitNumber = parseInt(document.getElementById('nQubits').value, 10);

        if (!isNaN(nQubitNumber) && nQubitNumber >= 2) {
            return nQubitNumber;
        } else {
            return 0;
        }
    }
</script>

<script> <!-- Calculate entanglement status when user presses submit -->
    document.getElementById('nQubitForm').onsubmit = function(event) {
        event.preventDefault();
        document.getElementById('result1').textContent = 'Calculating...';
        const numQubits = document.getElementById('nQubits').value;
        const inputPairs = document.querySelectorAll('#inputPairsContainer .input-pair');
        let pairsData = {};

        inputPairs.forEach(pair => { // Put user pairs data into a dictionary
            const numberInput = pair.querySelector('.number-input').value;
            pairsData[numberInput] = pair.querySelector('.value-input').value;
        });

        const dataToSend = { // Combine # qubits with pairsData
            n : numQubits,
            pairs: pairsData
        };

        fetch('/calculate/nQubit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToSend),
        })
            .then(response => {
                if (!response.ok) {
                    throw response;
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('result1').textContent = data.classification;
            })
            .catch((error) => {
                error.json().then(errorMessage => {
                    document.getElementById('result1').textContent = 'Error: ' + errorMessage.error
                });
            })
    }
</script>

<script> <!-- Remove previously added input fields when reset button is clicked -->
    document.getElementById('nQubitForm').onreset = function() {
        document.getElementById('result1').textContent = '';
        removeAllInputPairs();
    }

    function removeAllInputPairs() {
        const removableInputPairs = document.querySelectorAll('.removable-input-pair');
        removableInputPairs.forEach(function(pair) {
            pair.remove();
        });
    }
</script>

<div class="switching-buttons"> <!-- Buttons to switch between the two web pages -->
    <p> Switch between our calculators!</p>
    <button id="3qubitButton">3 Qubit SLOCC Classifier</button>
    <button id="nQubitButton">n-Qubit Entanglement</button>
</div>

<script> <!-- Handle the buttons switching between the web pages -->
    document.getElementById('3qubitButton').onclick = function() {
        document.getElementById('3qubitPage').style.display = 'block';
        document.getElementById('nQubitPage').style.display = 'none';
    }
    document.getElementById('nQubitButton').onclick = function() {
        document.getElementById('3qubitPage').style.display = 'none';
        document.getElementById('nQubitPage').style.display = 'block';
    }
</script>

</html>