<!DOCTYPE html>
<html lang="en">

<head>
    <title>3-Qubit State Classifier</title>
    <meta charset="UTF-8">
    <meta name="3QubitStateClassifier"
          content="Website that takes a 3-qubit state as input and returns its SLOCC eq class">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <h1>3-Qubit State Classifier</h1>
    <p>Enter the 8 complex numbers for your 3-qubit state in the boxes below. <br>
        Type "i" for <span>&#8730;</span>-1 and "sqrt" for <span>&#8730;</span>. Eg.<span>&#8730;</span>3 = sqrt(3) <br>
        Other operations supported: + - * / ^ sin cos tan <br>
        Trig functions use radians. Input "pi" for 3.1415... <br><br>
        c<sub>0</sub> -> c<sub>7</sub> default to 0 if left blank
    </p>
</body>

<form id="stateForm">
    <div class="input_group">
        <label for="c0">c<sub>0</sub> |000></label>
        <input type="text" id="c0" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c1">c<sub>1</sub> |001></label>
        <input type="text" id="c1" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c2">c<sub>2</sub> |010></label>
        <input type="text" id="c2" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c3">c<sub>3</sub> |011></label>
        <input type="text" id="c3" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c4">c<sub>4</sub> |100></label>
        <input type="text" id="c4" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c5">c<sub>5</sub> |101></label>
        <input type="text" id="c5" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c6">c<sub>6</sub> |110></label>
        <input type="text" id="c6" autocomplete = "off" placeholder="0">
    </div>
    <div class="input_group">
        <label for="c7">c<sub>7</sub> |111></label>
        <input type="text" id="c7" autocomplete = "off" placeholder="0">
    </div>
    <button type="submit">Calculate</button>
    <button type="reset">Reset</button>
</form>
<div id="result"></div>
<div id="normal"></div>

<script> <!-- Logic for returning the SLOCC class when user presses "submit" -->
    document.getElementById('stateForm').onsubmit = function(event) {
        event.preventDefault(); // Prevent the default form behavior (reloading the page)
        const data = {
            c0: document.getElementById('c0').value,
            c1: document.getElementById('c1').value,
            c2: document.getElementById('c2').value,
            c3: document.getElementById('c3').value,
            c4: document.getElementById('c4').value,
            c5: document.getElementById('c5').value,
            c6: document.getElementById('c6').value,
            c7: document.getElementById('c7').value,
        };
        fetch('/calculate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) { // If response code != 200, throw response and go to .catch block below
                throw response;
            }
            return response.json()
        })
        .then(data => {
            document.getElementById('result').textContent = data.classification;
            document.getElementById('normal').textContent = data.normal;
        })
            .catch(() => { // Catch error, print message to website
                document.getElementById('result').textContent = "Input error";
                document.getElementById('normal').textContent = ''
            });
    };
</script>
<script> <!-- Remove the previous results when the user presses "reset" -->
    document.getElementById('stateForm').onreset = function() {
        document.getElementById('result').textContent = '';
        document.getElementById('normal').textContent = '';
    }
</script>
</html>